@font-face {
  font-family: neu;
  src: url(./assets/font/NeueHaasDisplayMediu.ttf);
}

@font-face {
  font-family: neu;
  font-weight: 100;
  src: url(./assets/font/NeueHaasDisplayLight.ttf);
}

@font-face {
  font-family: neu;
  font-weight: 200;
  src: url(./assets/font/NeueHaasDisplayRoman.ttf);
}

@font-face {
  font-family: neu;
  font-weight: 600;
  src: url(./assets/font/NeueHaasDisplayBold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "neu", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

#page1 {
  width: 100%;
  min-height: 100vh;
  background-color: #efeae3;
  position: relative;
  padding: 0 2vw;
  overflow: hidden;
}

nav {
  width: 100%;
  padding: 2vw 0vw;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-right {
  display: flex;
  justify-content: center;
  gap: 0.5vw;
}

#nav-right a {
  color: #0b0500;
  text-decoration: none;
  border: 1px solid rgba(11, 5, 0, 0.2);
  font-weight: 200;
  border-radius: 50px;
  padding: 11px 23px;
  /* padding: 0.625em 1.5em; */
  font-size: 18px;
  position: relative;
  transition: all ease 0.25s;
  overflow: hidden;
}

#nav-right a::after {
  content: "";
  position: absolute;
  background-color: #000000;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.3s;
}

#nav-right a:hover::after {
  bottom: 0;
  border-radius: 0;
  z-index: -1;
}

#nav-right a:hover {
  color: #ffffff;
  z-index: 1;
}

#center {
  width: 100%;
  height: 83vh;
  /* background-color: orange; */
  display: flex;
  justify-content: space-between;
  align-items: end;
  border-bottom: 1px solid #00000033;
  padding-bottom: 2.5vw;
}

#left h3 {
  width: 25vw;
  font-size: 1.8vw;
  line-height: 2vw;
}

#right h1 {
  /* font-size: 10vw; */
  font-size: 10em;
  /* line-height: 8vw; */
  line-height: 0.8;
  letter-spacing: -0.03em;
  text-align: right;
  margin-bottom: 20px;
  padding-right: 2vw;
}

#page1 video {
  position: relative;
  width: 100%;
  border-radius: 30px;
  margin-top: 4vw;
}

#hero-shape {
  width: 46vw;
  height: 32vw;
  position: absolute;
  right: 0;
  top: 87vh;
}

#hero-1 {
  width: 100%;
  height: 100%;
  background-color: #fe350b;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  filter: blur(10px);
  position: absolute;
}

#hero-2 {
  width: 30vw;
  height: 30vw;
  background: linear-gradient(#fe350b, #fe400b);
  border-radius: 50%;
  position: absolute;
  filter: blur(25px);
  animation: animation-2 2.75s linear infinite alternate;
}

#hero-3 {
  background: linear-gradient(#fe350b, #fe400b);
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  position: absolute;
  filter: blur(25px);
  animation: animation-1 2.75s linear infinite alternate;
}

@keyframes animation-1 {
  from {
    transform: translate(63%, -3%);
  }
  to {
    transform: translate(100%, -12%);
  }
}

@keyframes animation-2 {
  from {
    transform: translate(5%, -10%);
  }
  to {
    transform: translate(-20%, 30%);
  }
}

#page2 {
  width: 100%;
  min-height: 100vh;
  background-color: #efeae3;
  padding: 8vw 0;
  position: relative;
  /* padding-bottom: 22vw; */
}

#moving-text {
  white-space: nowrap;
  overflow-x: auto;
}

#moving-text::-webkit-scrollbar {
  display: none;
}

.con {
  display: inline-block;
  white-space: nowrap;
  animation: move 10s linear infinite;
  /* animation: move 2s linear  iteration-count direction fill-mode; */
}

#moving-text h1 {
  /* margin-bottom: 10px; */
  /* background-color: blue; */
  font-size: 9vw;
  display: inline-block;
}

.circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fe350b;
  display: inline-block;
  margin: 1vw 2vw;
}

@keyframes move {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

#page2-bottom {
  width: 100%;
  height: 80vh;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4.5vw 6vw;
  z-index: 2;
  position: relative;
  margin-top: 5vw;
}

#page2-bottom h1 {
  /* font-size: 4vw; */
  font-size: 4.4em;
  width: 67%;
  /* line-height: 4vw; */
  line-height: 1;
  letter-spacing: -0.03em;
}

#bottom-part2 {
  width: 22.5%;
  margin-top: 18vw;
}

#bottom-part2 img {
  width: 100%;
  border-radius: 10px;
}

#bottom-part2 p {
  font-weight: 200;
  margin-top: 3vw;
  /* font-size: 1vw; */
  font-size: 1em;
  line-height: 1.4;
}

#page2 #gooey {
  /* width: 32vw; */
  width: 34em;
  /* height: 32vw; */
  height: 34em;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to top right, #ff1900, #ff5a01);
  top: 58%;
  left: 25%;

  animation: gooey 6s ease-in-out infinite alternate;
  /* animation: gooey duration timing-function delay iteration-count direction
    fill-mode; */
}

@keyframes gooey {
  from {
    transform: translate(10%, -10%) skew(0);
    filter: blur(20px);
  }
  to {
    filter: blur(30px);
    transform: translate(-10%, 10%) skew(-12deg);
  }
}

#featured {
  position: absolute;
  left: 33px;
  bottom: -115px;
  letter-spacing: 0.6px;
  font-size: 0.875em;
  font-weight: 200;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0b0500;
}

#featured span {
  display: inline-block;
  background-color: #fe350b;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  margin-bottom: 2px;
}

#page3 {
  width: 100%;
  min-height: 100vh;
  background-color: #efeae3;
  padding-top: 12vw;
  padding-bottom: 4vw;
}

#elem-container {
  /* background-color: red; */
  cursor: pointer;
}

#fixed-image {
  width: 24vw;
  height: 30vw;
  border-radius: 10px;
  position: fixed;
  z-index: 3;
  left: 50%;
  top: 25%;
  display: none;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.elem {
  height: 123px;
  width: 100%;
  /* border-top: 1px solid #00000033; */
  border-bottom: 1px solid #00000033;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
  overflow: hidden;
}

.elem h2 {
  font-size: 3.35vw;
  font-family: sans-serif;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -3px;
  word-spacing: -4px;
  position: relative;
  z-index: 1;
  color: #0b0500;
}

.elem .elem-right {
  position: relative;
  z-index: 1;
  letter-spacing: 0.02em;
  font-weight: 200;
  font-size: 0.875em;
  line-height: 1.2;
  color: #0b0500;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.elem .elem-right span {
  color: #00000066;
}

.elem .overlay {
  width: 100%;
  height: 100%;
  background-color: #ff9831;
  position: absolute;
  top: -100%;
  left: 0;
  transition: all ease 0.25s;
}

.elem:hover .overlay {
  top: 0;
}
